<main class="container">
  <div class="content">
    <h1>Our Collection</h1>
    <p>Introducing our Coffee Collection, a selection of unique coffees from different roast types and origins, expertly roasted in small batches and shipped fresh weekly.</p>
  </div>

  <div class="buttons">
    <button [ngStyle]="{'background-color': (btn2) ? 'transparent' : '#6F757C'}" (click)="clickBtn1()" class="btn btn1">All Products</button>
    <button (click)="clickBtn2()" class="btn btn2">Available Now</button>
  </div>

  <app-products *ngIf="btn1"></app-products>
  <app-product-available *ngIf="btn2"></app-product-available>
</main>
