<div class="container-cards">
  <div class="card" *ngFor="let product of products">
    <div class="visual">
      <h4 *ngIf="product.popular" class="popular-card">Popular</h4>
      <img [src]="product.image" alt="card" class="image-card">
    </div>
    <div class="content">
      <div class="row-space">
        <h2 class="name-card">{{product.name}}</h2>
        <h3 class="price-card">{{product.price}}</h3>
      </div>
      <div class="row-start">
        <img *ngIf="product.rating != null" src="../../assets/img/Star_fill.svg" alt="start fill">
        <img *ngIf="product.rating == null" src="../../assets/img/Star.svg" alt="star">
        <h2 class="rating-card">{{product.rating}}</h2>
        <h5 *ngIf="product.rating != null" class="votes-card">({{product.votes}} votes)</h5>
        <h5 *ngIf="product.rating == null" class="votes-card">No ratings</h5>
      </div>
    </div>

  </div>
</div>
