.card:nth-child(5) {
  display: none;
}


.container-cards {
  margin-top: 40px;
}

@media (min-width: 641px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}


@media (min-width: 1025px) {
  .container-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

  }
}

@media (max-width: 640px) {
  .container-cards {
    display: block;
    margin: 0;
    gap: 0;
  }
}



.visual {
  position: relative;
}

.image-card {
  border-radius: 15px;
}

.popular-card {
  background-color: #F6C768;
  color: #111315;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 40px;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 15px;
}

.name-card,
.rating-card {
  color: #fff;
  font-size: 16px;
}


.row-space {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
}

.price-card {
  font-size: 14px;
  background-color: #BEE3CC;
  border-radius: 5px;
  padding: 5px 10px;
  color: #111315;
}

.votes-card {
  color: #6F757C;
  font-size: 14px;
}
